<!DOCTYPE html>
<html>
  <head>
    <title>Spudify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>    
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
      window.logo2URL = "<%= image_url('logo2.png') %>";
      window.githubURL = "<%= image_url('github.svg') %>";
      window.github_hoverURL = "<%= image_url('github_hover.svg') %>";
      window.linkedinURL = "<%= image_url('linkedin.svg') %>";
      window.linkedin_hoverURL = "<%= image_url('linkedin_hover.svg') %>";
      
      window.playURL = "<%= image_url('play_button.svg') %>";

    </script>

    <meta property="og:title" content="Spudify" />
    <meta property="og:description" content="Spudify is a pixel-perfect Spotify clone built with Ruby on Rails, React, Redux, and PostgreSQL" />
    
    <meta property="og:image" content="<%= image_url('spudify.gif') %>" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
