<!DOCTYPE html>
<html>
  <head>
    <title>Spudify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>    
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
      window.logo2URL = "<%= image_url('logo2.png') %>";
      window.githubURL = "<%= image_url('github.svg') %>";
      window.github_hoverURL = "<%= image_url('github_hover.svg') %>";
      window.linkedinURL = "<%= image_url('linkedin.svg') %>";
      window.linkedin_hoverURL = "<%= image_url('linkedin_hover.svg') %>";

      window.test1URL = "<%= image_url('1.jpeg') %>";

    

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
